.intro {
    font-family: 'Nova Flat', cursive;
    color: white;
    text-align: center;
    margin-top: 7%;
    
}

body {
    background-color: #01a3a4
}

a{
    color: #e74c3e
}

.link-laranja{
    color: #f39c12
}

.intro img {
    border-radius: 20%;
    max-width: 20%;
    max-height: 20%;
    border: 5px solid white;
}

.lista-linha {
    padding-left: 0;
    list-style: none;
}

.lista-linha li{
    display: inline-block;
}
.espaco-icone{
    margin-left: 5%;
}